// custom colors
$green: #0E8543 !default;
$light-green: #7DC142 !default;
$white: #fff !default;
$black: #000 !default;
$text-color: #25333C !default;

// custom fonts
$primary-font: 'Overpass', sans-serif;

// custom font sizes
$display1-size: 2.25rem !default; //36px
$display2-size: 2.125rem !default; //34px
$display3-size: 1.875rem !default; //30px
$display4-size: 1.5rem !default; //24px
$display5-size: 1.25rem !default; //20px
$display6-size: 1rem !default; //16px
$display7-size: .875rem !default; //14px
$display8-size: .75rem !default; //12px
$display9-size: .625rem !default; //10px


// font weights
$display1-weight: 100 !default;
$display2-weight: 200 !default;
$display3-weight: 300 !default;
$display4-weight: 400 !default;
$display5-weight: 500 !default;
$display6-weight: 600 !default;
$display7-weight: 700 !default;
$display8-weight: 800 !default;
$display9-weight: 900 !default;
